<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Wishlist</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="main-container">
        <h1 class="site-header warning">Foodie</h1>
        <img src="/imgs/bg2.jpg" id="burger-icon" class="center-block" alt="Burger-Background">
        <h1 class="site-header warning">Wishlist</h1>

        <div class="container main-box m-4">
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores odit dolorum provident
                    veniam vel enim illum quod iusto laborum perferendis. Eaque voluptatibus non fugit impedit!
                    Modi perspiciatis accusantium, vitae voluptatem fugit nihil harum molestias, eligendi dolore
                    at obcaecati tenetur officia aperiam veniam ipsa omnis quas, illum mollitia magnam iste!
                    Aspernatur pariatur architecto blanditiis eum qui enim porro, officia eveniet ipsum perferendis
                    amet sequi. Iste ipsa nihil quaerat ducimus fuga, quia, consequuntur aut harum molestias dolor
                    culpa, natus ea! Rem dolorem placeat veritatis impedit, nobis animi officia.</p>
            </div>
        </div>

        {{{body}}}
    </div>
</body>

</html>