<hr>
<div class="container row main-wishlist-col-section mx-auto mt-4">
    <div class="wishlist-list-col col-sm">
        <h3 class="list-col-header">Foodie Item Wishlist</h3>
        <hr>
        <ul class="list-group">
            {{!-- <li class="list-group-item float-left">Cras justo odio <button type="submit"
                    class="btn btn-large btn-warning text-white row-sm ml-4 float-right devour-btn">Devour me!</button>
            </li>
            <li class="list-group-item float-left">Cras aafasfas justo odio <button type="submit"
                    class="btn btn-large btn-warning text-white row-sm ml-4 float-right devour-btn">Devour me!</button>
            </li>
            <li class="list-group-item float-left">Cras justoasfasfa s odio <button type="submit"
                    class="btn btn-large btn-warning text-white row-sm ml-4 float-right devour-btn">Devour me!</button>
            </li>
            <li class="list-group-item float-left">Cras justo odio asfasfasf<buftton type="submit"
                    class="btn btn-large btn-warning text-white row-sm ml-4 float-right devour-btn">Devour me!</button>
            </li>
            <li class="list-group-item float-left">Craasfasfs justo odio <button type="submit"
                    class="btn btn-large btn-warning text-white row-sm ml-4 float-right devour-btn">Devour me!</button>
            </li> --}}
        </ul>
    </div>

    <div class="wishlist-list-col col-sm">
        <h3 class="list-col-header">Devoured Foodie Items</h3>
        <hr>
        <ul class="list-group devoured-list-col">
            {{!-- <li class="list-group-item float-right ">Cras justo odio <button type="submit"
                    class="btn btn-large btn-secondary text-white row-sm ml-4 float-left devour-btn">Undo!</button>
            </li>
            <li class="list-group-item float-right ">Cras aafasfas justo odio  <button type="submit"
                    class="btn btn-large btn-secondary text-white row-sm ml-4 float-left devour-btn">Undo!</button>
            </li>
            <li class="list-group-item float-right ">Cras justoasfasfa s odio <button type="submit"
                    class="btn btn-large btn-secondary text-white row-sm ml-4 float-left devour-btn">Undo!</button>
            </li>
            <li class="list-group-item float-right ">Cras justo odio asfasfasf<button type="submit"
                    class="btn btn-large btn-secondary text-white row-sm ml-4 float-left devour-btn">Undo!</button>
            </li>
            <li class="list-group-item float-right ">Craasfasfs justo odio  <button type="submit"
                    class="btn btn-large btn-secondary text-white row-sm ml-4 float-left devour-btn">Undo!</button>
            </li> --}}
            
        </ul>
    </div>
</div>

<div class="container">
    <form action="" class="row-lg">
        <div class="form-group col-sm text-center mt-4">
            <label for="foodie-item-text-area" class="list-col-header">Enter your foodie item to your foodie
                wishlist!</label>
            <textarea class="form-control foodie-text-area" id="foodie-item-text-area" rows="3"></textarea>
        </div>

        <div class="submitBtn text-center">
            <button type="submit" class="btn btn-large btn-light ">Add to wishlist!</button>
        </div>
    </form>
</div>